name: Build (MATLAB)
on: [push]
jobs:
  my-job:
    name: Run MATLAB Tests and Generate Artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Install MATLAB
        uses: matlab-actions/setup-matlab@v1.1.0
      - name: Run script
        uses: matlab-actions/run-command@v1.0.1
        with:
          command: build_matlab
